body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  text-align: center;
  font-family: cursive;
}

h1 {
  margin: 0;
  padding: 15px;
  color: #fff;
  background-color: #000;
  border-bottom: 9px solid #0433b5;
  font-weight: normal;
  letter-spacing: 6px;
  font-size: 3em;
}

p {
  margin: 30px;
}